body {
  padding-top: 56px;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.python-icon{
  display: inline-block;
  fill: currentColor;
  width: 10em;
  /*1 em = 10px*/
  height: 10em;
  vertical-align: -0.05em;
  stroke-width: 1;
  
  margin-bottom: 20px;
  font-size: 30px;
}
.fbicon
{
  width:1em;
  height:1em;
}